// // bower:scss
// // endbower
body {
    font-family: 'Oswald', sans-serif;
    background:  #fafafa;
    color: #4A5357;
}

.header {
    font-family: 'Oswald', sans-serif;
    margin-left: 6px;
    font-size: 40px;
    color: #3498db;
}

.thumbnail-container {
    float: right;
    width: 54%; 
    height: 600px;
    display: inline;
    margin-top: 4px;
    overflow: scroll;
}

.main-container {
    float: left;
    width: 45%;
    height: 800px;
    margin-top: 4px;
    margin-left: 7px;
    margin-right: 0px;
}

.thumbnail {
    display: inline-block;
}

.thumbnail img {
    margin: 10px;
    width: 150px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
}

.url-image {
    margin-top: 15px;
}

.detail-box img {
    width: 600px;
    height: 600px;
}

.caption {
    text-align: center;
}
.caption-image {
    margin-top: 10px;
}

.input {
    height: 22px;
    width: 514px;
}

.button {
    display: inline-block;
    cursor: pointer;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    padding: 3px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    width: 77px;
    height: 28px;
   

    &:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    }

    &:active {
    position: relative;
    border-top-color: #0e354d;
    background: #0e354d;
    }
}


